nav {
    background-color: #ffe7f2;
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
  
    .leftMenu {
      display: flex;
      justify-content: space-between;
      width: 30%;
  
      li {
        list-style: none;
        padding-top: 3px;
        a {
          text-decoration: none;
          color: #000000;
          font-size: 14px;
        }
        a:hover {
            color: #ff3996;
            text-decoration: underline; 
            text-underline-offset: 6px; 
          }
      }
    }
  
    .rightMenu {
      display: flex;
      justify-content: flex-end;
      width: 30%;

      #loginMenuButton {
        appearance: none;
        border: none;
        cursor: pointer;
        background-color: #ff92c5;
        text-decoration: none;
        padding: 12px 22px 12px 22px;

        &:hover {
          background-color: #ff3996;
        }

        a {
          text-decoration: none;
          color: #000000;
        }

      }
  
      li {
        list-style: none;
        margin-left: 20px;
  
        #cartLink, #loginLink {
          text-decoration: none;
          color: black;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 70px;
          height: 30px;
          font-size: 14px;
          margin-top: 5px;

          #cartAmount {
            font-size: 15px;
            margin-left: 5px;
            margin-top:16px;
          }
        }
        #cartLink:hover, #loginLink:hover {
            color: #ff3996;
            text-underline-offset: 6px; 
          }
      }
    }
  }