nav {
    background-color: #ffdbec;
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
  
    .leftMenu {
      display: flex;
      justify-content: space-between;
      width: 30%;
  
      li {
        list-style: none;
        padding-top: 3px;
        a {
          text-decoration: none;
          color: #000000;
          font-size: 14px;
        }
        a:hover {
            color: #ff3996;
            text-decoration: underline; 
            text-underline-offset: 6px; 
          }
      }
    }
  
    .rightMenu {
      display: flex;
      justify-content: flex-end;
      width: 30%;
  
      li {
        list-style: none;
        margin-left: 20px;
  
        a {
          text-decoration: none;
          color: black;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 70px;
          height: 30px;
          font-size: 14px;
        }
        a:hover {
            color: #ff3996;
            text-decoration: underline; 
            text-underline-offset: 6px; 
          }
      }
    }
  }